body {background-color: ##4CE480 | rgb(0,128,0); font-family: Arial;}
h1 {color: navy; text-align: center;}
p {font-size: 16px; color: #333;}
nav ul {display: flex; justify-content: center; list-style: none;
background-color: #333;}
nav ul li a {color: white; padding: 10px 15px; text-decoration: none;}
nav ul li a:hover {background-color: #575757;}